body
{
background-color:#474e5d;
color: #ffffff;
font-family: Verdana,sans-serif;
}
.container{
	width:350px
}
.row{
	border:0px solid white;
}
#itemDiv {
	margin:15px 0 0 0 ;
	padding:5px;
	--background-color: rgba(0, 255, 188, 0.09);
	height:60px;
	float:cente;
	text-align:center;
	border-radius: 15px 50px 30px;
	box-shadow: 0 8px 8px 0 rgba(0, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border:0px solid ;
}
#itemDivTitulo {
	margin:15px 0 0 0 ;
	padding:5px;
	--background-color: rgba(0, 255, 188, 0.09);
	height:60px;
	float:cente;
	text-align:center;
	border-radius: 15px 50px 30px;
	box-shadow: 0 8px 8px 0 rgba(0, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border:0px solid ;
}
#itemDiv:hover{
	top:-2px;
	box-shadow:2px 10px 15px #f3f3f3
}
#itemDivPainel {
	margin:15px 0 0 0 ;
	padding:15px;
	--background-color: rgba(0, 255, 188, 0.09);
	height:auto;
	float:cente;
	text-align:center;
	border-radius: 15px;
	box-shadow: 0 8px 8px 0 rgba(0, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#itemDivDetalhe {
	margin:0 auto ;
	padding:1px;
	--background-color: rgba(0, 255, 188, 0.09);
	height:40px;
	text-align:center;
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#itemDivDetalhe2 {
	margin:15px auto ;
	padding:1px;
	--background-color: rgba(0, 255, 188, 0.09);
	height:auto;
	float:cente;
	text-align:center;
	border-radius: 30px;
	--box-shadow: 0 4px 8px 0 rgba(0, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
tr:hover{
	top:-2px;
	box-shadow:2px 10px 15px #f3f3f3
}
#trnone:hover{
	
	box-shadow:none;
}
a:link, a:visited{
	color: white; 
	background-color: transparent; 
	text-decoration: none;
}
td{
	border:0px solid;
	width:500px;
	text-align: center;
	padding:5px;
}.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

#tda{
font-size:18px;

}

.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: green;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;

}
.itemGrupo{
background-color:#f1f1f1;
margin:5px;
padding:5px;
width:100%;
height:40px;
float:left;
text-align:center;
font-weight: nomal;
}
#tempUmid{
width:90%;
padding:10px;
margin:0 auto;
float:center;
--border:1px solid black;
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
table {
	width:100%;
}
tr{
font-size: 12px;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 1, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#alerta {
	text-align: left;
	color:red;
	}